/* ABOUT */
.about {
    width: 100%;
    padding: 78px 0px;
    background-color: #fff;
}
/*.about {
    background: #fff;
    margin: 13%;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e7e7e7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}*/

.about img {
    height: 475px;
    width: 350px;
    border-radius: 20px;
}

.about-text {
    width: 550px;
}

@media all and (max-width:1000px) {
    .about-text {
        padding-left: 50px;
    }
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about  h4{
    color: #b8c5c4;
}

.about .socials {
    padding-top: 20px;
}

.about .socials a{
    color: #fff;
    width: 38px;
    height: 38px;
    background-color: #000;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}

.about .socials a:hover {
    background-color: #b8c5c4;
    color: #000;
}
